Homepage!

<div class="test-page-home-index"/>

<strong class="js-hide-me">CLICK ME</strong>

<p>
  I'm a paragraph with a <i class="icon">settings</i> icon in the middle.
  And here's another <i class="icon">person</i> one.
</p>

<p class="text-center">
  <%= link raw("<i class=\"icon\">settings</i>"), to: "#", class: "btn btn-primary" %>
</p>

<div id="react-root" style="border: 1px solid red; border-radius: 5px;">

</div>
